<section class="slab-intro usa-grid">
  <h1 class="intro-text">Welcome!</h1>
  <p>NYC OpenBid is an experiment in city government that allows vendors to bid on select projects from the City of New York and provides another pathway to City contracts for small and Minority and Women-Owned Business Enterprises (MWBEs).</p>

  <p>The platform currently hosts two types of opportunities: Sealed Bids, which are active projects seeking contractors to bid online and Open Calls, which are potential projects soliciting interest.</p>

  <a>To bid, <a href="https://a127-pip.nyc.gov/webapp/PRDPCW/SelfService">register your company</a> on the <a href="https://a127-pip.nyc.gov/webapp/PRDPCW/SelfService">Payee Information Portal</a> and have an active <a href="https://github.com/">GitHub</a> account. Learn more at our <a href="/about">About</a> and <a href="/policies">Policies</a> pages. If you have any questions, please <a href="http://www1.nyc.gov/site/forward/contact/contact.page">contact us</a>.</p>

</section>
