<div class="usa-grid">
<h1>Rules for Open Call</h1>

<p>Open Calls are used to find out how many people are interested in a given opportunity. If there is enough interest, a bona fide auction or procurement opportunity may result and those who registered interest will be notified.</p>
</div>