<div class="usa-grid">
<h1>Rules for Sealed-Bid auction</h1>

  <p>A Sealed Bid Auction is a type of reverse auction. Each vendor (based on a user’s vendor number) is allowed to submit only one bid in an auction. Once a bid is submitted, the vendor may not submit a second bid for the same auction.</p>
  <p>All bids will stay sealed until the end of the auction. At that time, bids will be evaluated and the winner will be notified. The winning vendor will be notified by the agency who will determine deadline and delivery process.</p>

</div>