<div class="usa-grid sign-up">
  <div class="sign-up-wrapper">
    <h1>Welcome to NYC Open Bid</h1>

    <div class="usa-font-lead">
      Hello, <%= current_user.name %>! It looks like you're new around here.
      Please take a moment to read the following information.
    </div>

    <div class="sign-up-list">
      <h3>How it works</h3>

      <p>
      We provide an overview of how things work on our <%= link_to 'about page',
      page_path('about') %>, but some of the specific aspects of how Open Bid works is on our <%= link_to 'policies page',
      page_path('policies') %>
      </p>

      <h3>Placing a bid</h3>
      <p>To place a bid you’ll need to obtain a Vendor number from the City of New York. If you haven’t don’t have one, don’t despair! You can navigate to New York City’s <a href="http://www.nyc.gov/html/sbs/nycbiz/html/summary/certification.shtml">Payee Information Portal</a> to create one.</p>
      <p>The City’s M/WBE program encourages a competitive and diverse business environment. It increases contracting opportunities and participation among City-certified M/WBE firms. Please visit the <a href="http://www.nyc.gov/html/sbs/nycbiz/html/summary/certification.shtml">NYC Online Certification Program Website</a> to learn more about the M/WBE certification process.</p>


      <h3>Things to know before you bid</h3>
      <p>Before you can bid on City opportunities, you must be a registered as a vendor. You can look up your vendor status, or register for the first time on the <a href="https://a127-pip.nyc.gov/webapp/PRDPCW/SelfService">Payee Information Portal</a>
      <p>PIP Account Activation Guide</p>
        <p>The Payee Information Portal (PIP) allows any interested company to sign up for the City’s Bidders Lists by ‘enrolling for commodities. After creating and activating a profile, you can receive email notifications with relevant solicitations as they are released by City agencies. When activating your account in PIP, fill out a profile and select the commodity codes that align with the goods and/or services you offer. City agencies use this to generate notifications, so it is important to check off all of the relevant categories. </p>
      <p><a href="https://a127-pip.nyc.gov/LoginExternal/Forms/Payee_Vendor_Account_Activation_Guide.pdf">nyc.gov/pip</a></p>
      <p><a href="https://a127-pip.nyc.gov/LoginExternal/Forms/Payee_Vendor_Account_Activation_Guide.pdf">Vendor Activation Guide</a></p>

      <p>Online Certification Portal</p>
      <p>Please visit the <a href="http://www.nyc.gov/html/sbs/nycbiz/html/summary/certification.shtml">NYC Online Certification Program Website</a> to begin the M/WBE application process. The NYC Department of Small Business Services (SBS) conducts Certification Workshops once a month at the agency’s main location (110 William St. between Fulton and John). To sign up for a workshop, please email the M/WBE program at <a href="mailto:MWBE@SBS.nyc.gov">MWBE@SBS.nyc.gov</p>

    </div>

    <%= link_to 'Continue', profile_path, class: 'usa-button usa-button-outline' %>
  </div>
</div>
