<div class="usa-grid docs">
  <h1>About</h1>



  <p>NYC OpenBid is an experiment in city government acquisition. Our team is passionate about making it easier for individuals and businesses, or “vendors,” to leverage their technical expertise toward building the open source software that powers City agencies — and vice versa.</p>

  <p>We are especially interested in providing another pathway to City contracts for small and Minority and Women-Owned Business Enterprises (MWBEs). The City has set a goal of awarding at least 30 percent of the dollar amount of City Contract awards to M/WBEs by 2021. The City also plans to double the number of certified and re-certified M/WBEs at the Department of Small Business Services from 4,500 to 9,000 by 2019. OpenBid was designed, in part, to increase the presence of underrepresented groups in the City contracting pool.</p>

  <p>Conceptually, the platform is simple. City agencies work with OpenBid to create projects up to $20,000. Vendors, for their part, evaluate projects, review potential projects, and respond or express interest. Agencies also have the option to post Open Calls, which allow vendors to indicate interest on a potential future project. At the end of each auction or call, the agency will work with the vendor to complete the project and process payment when applicable.</p>

  <p>We invite everyone to take part in this experiment. Vendors need only have GitHub and a Vendor Number to sign up and place a bid. (You can get a vendor number through the <a href="https://a127-pip.nyc.gov/webapp/PRDPCW/SelfService">Payee Information Portal</a>). If you work in government please get in touch with us about opportunities to host your projects please <a href="http://www1.nyc.gov/site/forward/contact/contact.page">contact us</a>.</p>

  <h2>Our team</h2>


    <p><b>The Mayor’s Office of Tech + Innovation</b></p>
    <p>&emsp;- Samantha Grassle, Project Manager</p>
    <p>&emsp;- Edgar Landas, Technical Lead</p>
    <p>&emsp;- Colleen McCaffrey, Product Manager</p>
    <p><b>The Mayor’s Office of Contract Services</b></p>
    <p><b>The Office of the Counsel to the Mayor</b></p>
    <p>&emsp;- Brandon Joseph, Project Manager</p>
    <p><b>Blenderbox, Technology Partner</b></p>


</div>
