<div class="usa-grid">
  <h1>Policies</h1>

  <p class="usa-font-lead">This document provides an overview of how OpenBid auction works and a set of guidelines to which our administrators will refer while running auctions.</p>

  <h2>Sealed-Bid</h2>
  <p><b>Guidelines for Sealed Bid:</b> A Sealed Bid Auction is a type of reverse auction. Each vendor (based on a user’s vendor number) is allowed to submit only one bid in an auction. Once a bid is submitted, the vendor may not submit a second bid for the same auction.Guidelines for Sealed Bid: A Sealed Bid Auction is a type of reverse auction. Each vendor (based on a user’s vendor number) is allowed to submit only one bid in an auction. Once a bid is submitted, the vendor may not submit a second bid for the same auction.</p>
  <p>All bids will stay sealed until the end of the auction. At that time, bids will be evaluated and the winner will be notified. The winning vendor will be notified by the agency who will determine deadline and delivery process.</p>
  <p><b>Pre-bidding period ("coming soon"):</b> Projects are posted to the OpenBid Platform before bidding begins. This gives prospective vendors time to estimate the effort that it might take to meet their acceptance criteria.</p>
  <p><b>Bidding period (open):</b> Eligible vendors can place bids on the auction from the time it opens (its opening date) until the time it closes (its closing date). At that time, bids will be evaluated and the winner, once notified, must deliver the product or service by the auction’s delivery deadline determined by the representative agency.</p>
  <p><b>Delivery period:</b> The winning vendor will be notified by the agency who will determine deadline and delivery process.</p>
  <p><b>Acceptance period:</b> The representative agency will evaluate the winning vendor’s contribution against the auction’s acceptance criteria and contract agreement to determine acceptance.</p>
  <p><b>Payment period:</b> If their solution is accepted as defined by the micropurchase contract agreement, the winning vendor will receive payment from the representative agency.</p>
  <p><b>Source-selection method for Sealed Bid:</b> Eligible vendors can place bids on an auction during its bidding period. Once that period ends, the agency will utilize evaluation criteria to determine the best submission and the ultimate winner at their discretion. In the event that a winner is either (a) unable to deliver the project by the delivery deadline assigned to them or (b) delivers a solution that is deemed unacceptable, OpenBid reserves the right to reject the project, choose a new winner, or re-run the auction at the agency’s discretion.</p>

  <h2>Open Call</h2>
  <p>Open calls will allow agencies to gather interest from potential vendors on future projects. Any procurement activities will be made at the agency’s discretion.</p>

  <p><b>Guidelines for Open Call:</b> Open Calls are used to find out how many people are interested in a given opportunity. If there is enough interest, a bona fide auction or procurement opportunity may result and those who registered interest will be notified.</p>

  <p><b>Eligibility to bid:</b> Vendors must have a GitHub account to register and sign into the platform. In order to place a bid, vendors must obtain a Vendor Number and register on the Payee Information Portal (PIP).</b>

  <p><b>Source-selection criteria for Open Calls:</b> Eligible vendors can register their interest in an Open Call during its bidding period. Once the period ends, the agency can determine the appropriate next steps related to any procurement-related actions, if any.</b>

  <p><b>Premature closing:</b> OpenBid reserves the right to delete an auction, prohibit bidding, and forego delivery at any point in the pre-bidding, bidding, delivery, and acceptance processes outlined above. OpenBid will not issue payment to a vendor until that vendor’s work has been deemed acceptable by the responsible agency.</b>

  <p><b>Bid acknowledgement and communication:</b> OpenBid will contact the winning bidder within 24 hours of the end of Sealed-Bid auction. We require a timely response to acknowledge and confirm the bid amount. The work requested as part of the project will be explained in the acceptance criteria of each specific auction.</b>
  <p>For Open Calls, the agency will use their discretion to contact interested vendors once the Open Call period closes.</b>


  <h2><b>Terms of Use</b></h2>

  <p>Users of OpenBid’s platform agree to abide by the City’s <a href="http://www1.nyc.gov/home/terms-of-use.page">terms of use</a>.</p>

  <h2><b>Privacy Policy</b></h2>

  <p>All data and submitted materials are subject to the City’s <a href="http://www1.nyc.gov/home/privacy-policy.page">Privacy Policy</a>. The representative agency will define a delivery period for scope of work as set forth in the delivery agreement.</p>

  <h2><b>Payments</b></h2>
  <p>All contracting and payment-related items will be handed by the responsible agency who posts the Sealed Bid or Open Call.</p>

  <p>For more information about city procurement, please visit the <a href="http://www1.nyc.gov/assets/forward/documents/nyc-business-guide.pdf">How to Do Business Guide</a> For any questions about contract payments, you can either contact the contracting agency or navigate to Department Contacts at <a href="nyc.gov/pip">nyc.gov/pip</a> to find the payments representative for your agency.</p>

</div>
