<div class="usa-grid">
 
<h1>Policies</h1>

<p>This page provides an overview of how OpenBid auctions work. Both vendors and auction administrators can refer to these guidelines throughout the auction process.</p>

<h2>Sealed Bid</h2>

<p>Sealed Bids allow agencies to create auctions for micropurchase projects (contracts under $20,000).</p>

<p><b>Overview:</b> A Sealed Bid auction is a type of reverse auction. Vendors are allowed to submit only one bid in an auction. Once a bid is submitted, a vendor may not submit a second bid for the same auction. (Each vendor is assigned and identified by a unique number.)</p>

<p>All bids stay sealed until the end of an auction. Bids are then evaluated and the winner notified by the agency that created the auction (the “representative agency”). The representative agency then determines the project deadline and delivery process with the winning vendor.</p>

<p><b>ligibility to bid:</b> Vendors must have a GitHub account to register and sign in to the bidding platform. In order to place a bid, vendors must obtain a Vendor Number and register on the Payee Information Portal (PIP).</p>

<p><b>idding period:</b> Eligible vendors can place bids on the auction from the time it opens (its "opening date") until the time it closes (its "closing date").

<p><b>Acceptance period:</b>  After an auction closes the "acceptance period" begins. The acceptance period is the period of time between the close of an auction and when the representative agency notifies a vendor that their bid has been accepted.</p>

<p><b>Delivery period:</b> The “delivery period” begins after the "acceptance period." During the "delivery period," the project's scope of work, deadline, delivery requirements, and payment process is determined by the representative agency and the vendor.</p>

<p><b>Evaluation process for Sealed Bids:</b> Each auction includes acceptance criteria explaining project tasks and requirements. Representative agencies choose a winner by evaluating vendors’ proposals against auction acceptance criteria and contract requirements.</p>

<p>If an auction winner is either (a) unable to deliver the project by the delivery deadline assigned to them or (b) delivers a solution that is deemed unacceptable, OpenBid may reject the project, choose a new winner, or re-run the auction at the agency’s discretion.</p>

<h2>Open Call</h2>

<p>Open Calls allow agencies to gather interest from potential vendors for future projects of any size.</p>

<p><b>Overview:</b> Agencies use Open Calls to gauge vendor interest in micropurchase opportunities. If there is enough interest in a given project, agencies may launch a formal auction or procurement process and notify those who registered interest.</p>

<p><b>Eligibility to bid:</b> Vendors must have a GitHub account to register and sign in to the bidding platform. In order to place a bid, vendors must obtain a Vendor Number and register on the <a href="https://a127-pip.nyc.gov/webapp/PRDPCW/SelfService">Payee Information Portal (PIP)</a>.</p>

<p><b>Evaluation process for Open Calls:</b> Representative agencies evaluate vendors based on criteria of their choosing, depending on future project needs. Agencies determine the appropriate next steps related to procurement-related actions, if any.</p>

<h2>Auction Process</h2>

<p><b>Premature closing:</b> OpenBid may delete an auction, prohibit bidding, or cancel delivery at any point in the pre-bidding, bidding, delivery, and acceptance processes outlined above.</p>

<p><b>Bid acknowledgement and communication:</b> For Sealed Bids, OpenBid contacts the winning bidder within 48 hours of the auction’s closing date. Vendors are required to provide a timely response to acknowledge and confirm the bid amount. For Open Calls, the agency decides whether or not to contact interested vendors once the Open Call period closes.</p>

<p><b>Terms of Use</b></p>

<p>Users of OpenBid’s platform agree to abide by the City’s <a href="http://www1.nyc.gov/home/terms-of-use.page">Terms of Use</a>.</p>

<p><b>Privacy Policy</b></p>

<p>All data and submitted materials are subject to the City’s <a href="http://www1.nyc.gov/home/privacy-policy.page">Privacy Policy</a>.</p>

<p><b>Payments</b></p>

<p>All contracting and payment-related items will be handled by the representative agency.</p>

<p>For more information about city procurement, please see the <a href="http://www1.nyc.gov/assets/forward/documents/nyc-business-guide.pdf">How to Do Business Guide</a>. For any questions about contract payments, you can either contact the contracting agency or navigate to Department Contacts at <a href="https://a127-pip.nyc.gov/webapp/PRDPCW/SelfService">nyc.gov/pip</a> to find the payments representative for your agency.</p>
