<div class="js-auction-view hide">
  <div class="auction-body">
    <table class="usa-table-borderless">
      <thead>
        <tr>
          <th scope="col">Bidder</th>
          <th scope="col">FMS</th>
          <th scope="col">Amount</th>
          <th scope="col">Date (EST)</th>
        </tr>
      </thead>
      <tbody>
        <% auction_bids.veiled_bids.each do |bid| %>
          <tr>
            <td><%= link_to bid.veiled_name_mwbe_bolded, admin_user_path(bid.bidder_id) %></td>
            <td><%= bid.veiled_fms_number %></td>
            <td><%= bid.amount_to_currency_with_asterisk %></td>
            <td><%= bid.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
